.desktop {
  display: block;

  @include respond(tab-port) {
    display: none;
  }
}
.mobile {
  display: none;
  @include respond(tab-port) {
    display: block;
  }
}
header.header {
  position: absolute;
  left: 5rem;
  top: 5rem;
}

main {
  background: url("https://amitashdot.github.io/globes-hagiga/images/baloon-01.png")
    repeat $color-primary;
  background-size: 30%;
  padding: 6rem 3rem 3rem;
  background-position-y: 240px;
  background-position-x: 0px;
  width: 100vw;
  height: 95vh;

  @include respond(mini-desktop) {
    background-size: 95%;
    padding: 3rem 0rem 1rem;
    background-position-y: 110px;
    background-position-x: -200px;
    height: auto;
  }
}
.accordion {
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  font-size: 1.5rem;
  margin-top: 1rem;

  transition: 0.2s;
  @include respond(mini-desktop) {
    font-size: 2rem;
    padding: 0;
    padding-right: 0.5rem;
    margin: 0;
  }
  .active,
  &:hover {
    background-color: $color-red-dark;
    color: white;
  }
  &.active {
    background: #96153f;
    color: white;

    & > .arrow {
      transform: rotate(45deg);
      border: solid white;
      border-width: 0 2px 2px 0;
      margin-right: 0.3rem;
      margin-bottom: 0.2rem;
    }
  }

  &-bottom {
    width: 100%;
  }
}
.panel {
  font-size: 1.4rem;
  @include respond(mini-desktop) {
    font-size: 2.3rem;
    background: $color-white;
    padding: 1rem;
  }
}

.infoBox-section {
  color: $color-white-real;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: auto;
  font-size: 3rem;
  line-height: 4.5rem;

  @include respond(mini-desktop) {
    height: 29rem;
  }
}
.infoBox {
  &-image {
    background: url("https://amitashdot.github.io/globes-hagiga/images/hagiga-finale.png");
    width: 32rem;
    height: 9rem;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    overflow-y: hidden;
  }
  &-title {
    & > h2 {
      overflow-y: hidden;
      font-weight: 900;

      @include respond(phone-small) {
        font-size: 3.8rem;
      }
      & span {
      }

      // &:hover {
      //   filter: drop-shadow(2px 2px 6px black);
      // }
    }
  }
  &-text {
    font-size: 5.4rem;
    line-height: 4.5rem;
    overflow: hidden;
    font-weight: bold;

    @include respond(phone-small) {
      font-size: 4.4rem;
      font-weight: bold;
    }
    // &:hover {
    //   filter: drop-shadow(2px 2px 6px black);
    // }

    &-sale {
      font-size: 4rem;
      text-align: center;

      // transition: all 0.3s;
      @include respond(phone-small) {
        font-size: 3rem;
      }
      // &:hover {
      //   filter: drop-shadow(2px 2px 6px black);
      // }
    }

    & > p {
      overflow-y: hidden;
    }
  }
  &-button {
    box-shadow: 2px 2px 3px 1px #00000057;
    font-family: "nextexitfot";
  }
  &-button > button {
    background: $color-red;
    border: none;
    padding: 0.5rem 1rem 0.5rem 3rem;
    color: #fff;
    font-size: 3.5rem;
    font-weight: bolder;
    box-shadow: 10px 5px 5px black;
    font-family: "nextexitfot";

    // transition: all 0.s ease;

    &:hover {
      cursor: pointer;
    }

    &:hover > .arrows > .arrow {
      left: -48px;
    }
    &:hover > .arrows > .arrow-2 {
      left: -55px;
    }

    @include respond(big-desktop) {
      &:hover > .arrows > .arrow {
        left: -70px;
      }
      &:hover > .arrows > .arrow-2 {
        left: -60px;
      }
    }
  }
}
.arrows {
  position: relative;
}
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;

  left: -53px;
  top: 50%;
  transition: all 0.2s ease;
  transform: rotate(135deg);

  @include respond(big-desktop) {
    left: -57px;
    padding: 4px;
  }

  @include respond(mini-desktop) {
    left: -43px;
  }

  &-2 {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;

    left: -48px;
    top: 50%;
    transition: all 0.55s ease;
    @include respond(big-desktop) {
      left: -66px;
      padding: 4px;
    }

    @include respond(mini-desktop) {
      left: -38px;
    }
  }
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg) translate(0px, 60%);
  position: absolute;
}

.popup {
  visibility: hidden;
  opacity: 0;

  transition: all 0.2s ease-in-out;

  &-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.3);
    z-index: 5;
    transition: all 0.2s ease;
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.form {
  position: relative;

  background: url(https://amitashdot.github.io/globes-hagiga/images/baloon-01.png)
    repeat #ef73ab;
  background-size: contain;
  background-position: -360% -80px;
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 40rem;
  place-items: center;
  margin: auto;
  border: 1px solid white;
  padding: 3.4rem 3rem;
  z-index: 10;
  font-family: "nextexitfot";
  border-radius: 5px;
  min-height: 35rem;
  justify-content: center;

  transition: all 0.5s ease;

  // &:hover {
  //   box-shadow: 0px 0px 10px 0px black inset;
  // }
  @include respond(mini-desktop) {
    background: url(https://amitashdot.github.io/globes-hagiga/images/baloon-01.png)
      repeat #ef73ab fixed;
    background-size: contain;
    max-width: 150rem;
    width: 100%;
    background-position: -130px -130px;
    padding: 0.5rem 2rem 1.5rem;
    min-height: fit-content;
  }
  &-title {
    color: white;
    //   font-size: 3.4rem;
    font-size: 3.2rem;
    @include respond(mini-desktop) {
      font-size: 3.5rem;
    }

    @include respond(phone-small) {
      // font-size: 2.7rem;
      font-size: 2.3rem;
    }
  }
  &-contact {
    margin-top: -10px;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5rem;
    color: black;

    @include respond(mini-desktop) {
      font-size: 3.2rem;
    }
    @include respond(phone-small) {
      font-size: 2.5rem;
    }
  }
  &-input {
    width: 90%;
    height: 5rem;
    margin: 0.5rem;
    font-size: 2.5rem;
    padding-right: 1rem;
    border: none;
    border-radius: 5px;
    font-family: "nextexitfot";

    &-error {
      border: 1px solid $color-red;
      background: $error-background;
    }
    &:focus {
      outline: 0;
    }

    &:hover::placeholder {
      color: $color-red;
    }
    &::placeholder {
      color: $color-black;
    }
  }

  &-submit {
    background: $color-red;
    color: white;
    font-size: 3rem;

    width: 90%;
    height: 5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    font-family: "nextexitfot";

    position: relative;
    transition: all 0.5s;
    @include shine($color-red-dark);
  }
}

.box-section {
  background: $color-white;
  display: flex;
  justify-content: space-around;
  // flex-direction: column;
  align-items: center;
  padding: 3rem;
  max-width: 120rem;
  margin: 3rem auto;
  font-size: 2rem;
  overflow-y: hidden;
  border-radius: 5px;

  @include respond(mini-desktop) {
    font-size: 1.92rem;
    overflow: hidden;
    margin-bottom: 1rem;
    flex-direction: column;
    padding: 1rem 2rem 2rem;
  }
  &-right {
    width: 55%;

    @include respond(mini-desktop) {
      width: 100%;
    }
  }
  &-left {
    @include respond(mini-desktop) {
      width: 100%;
      max-width: 150rem;
    }
  }
}

.details {
  padding: 3rem;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;

  @include respond(mini-desktop) {
    padding: 0rem 0;
    text-align: right;
    margin-bottom: 3rem;
    border: none;
  }

  &-title {
    text-align: center;
    color: $color-red-dark;
    font-size: 4rem;

    @include respond(mini-desktop) {
      font-size: 3.7rem;
    }
    @include respond(phone-small) {
      font-size: 3.15rem;
    }
  }
  &-list {
  }
  &-item {
    padding-right: 3rem;
    position: relative;
    overflow: hidden;
    font-size: 2.5rem;

    @include respond(mini-desktop) {
      font-size: 2.5rem;
      padding-right: 3rem;
    }

    &-check > img {
      transform: translateY(10%);
      width: 3rem;

      @include respond(mini-desktop) {
        width: 3rem;
      }
    }

    &-check {
      position: absolute;
      right: 0px;
      overflow: hidden;

      @include respond(mini-desktop) {
        right: 0px;
      }
    }
  }
}
.loggo {
  margin: auto;
  width: 20rem;
  @include respond(mini-desktop) {
    width: 10rem;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;

  @include respond(mini-desktop) {
    background: $color-grey-dark-3;
    color: $color-white;
  }
  &-links {
    display: flex;
    padding: 0.5rem;
  }
  &-contact {
    font-weight: bolder;
  }
}
/* unvisited link */
a:link {
  color: $color-grey-dark-3;
  padding: 0.5rem;
  text-decoration: none;

  @include respond(mini-desktop) {
    color: $color-white;
  }
}
/* visited link */
a:visited {
  color: $color-footer-dark;
  @include respond(mini-desktop) {
    color: $color-white;
  }
}
/* mouse over link */
a:hover {
  color: $color-red-dark;
  @include respond(mini-desktop) {
    color: $color-white;
  }
}
/* selected link */
a:active {
  color: $color-red-dark;
  @include respond(mini-desktop) {
    color: $color-white;
  }
}
