@font-face {
  font-family: "nextexitfot";
  src: url("https://amitashdot.github.io/globes-hagiga/fonts/nextexitfot-light-webfont.woff.ttf");
}

body {
  font-family: "nextexitfot", cursive;
  font-weight: 400;
  font-size: $defaut-font-size;
  line-height: 1.7;
}

.white-text {
  color: $color-white-real;
}
.blue-text {
  color: $color-blue;
}
.red-text-dark {
  color: $color-red-dark;
}
.red-text {
  color: $color-red;
}
.bold {
  font-weight: bolder;
}
span.red-text-dark.bold {
  margin-left: 1rem;
}
.full {
  color: #fff;
  display: inline-block;
  padding: 0px 1.25rem;
  border-radius: 10px;
  background-color: $color-blue;
  overflow: hidden;
}
.earase {
  -webkit-text-decoration-line: line-through; /* Safari */
  text-decoration-line: line-through;
  text-decoration-thickness: 1px;
}
